POSTGRES_DB=prac
POSTGRES_USER=prac
POSTGRES_PASSWORD=student

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

DATABASE_DRIVER=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=student
DATABASE_URL=postgres://prac:student@postgres:5432/prac

TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=false

DEBUG=*
